@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex: 1;
    height: 100%;
}

/*-----SIDEBAR-----*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #121212;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
}

/*-----END SIDEBAR-----*/

/*-----LOGO SIDEBAR-----*/

.logo-wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    height: 60px;
    width: auto;
    margin-bottom: 10px;
    transition: filter 0.3s ease;
}

.logo:hover {
    filter: brightness(0) saturate(100%) invert(42%) sepia(56%) saturate(669%) hue-rotate(70deg) brightness(96%) contrast(93%);
}

/*-----END LOGO SIDEBAR-----*/

/*-----MENU SIDEBAR-----*/

.menu {
    margin-bottom: 15px;
}

.menu ul {
    list-style: none;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #2a2a2a;
    border-radius: 10px;
  }

.menu li {
    align-items: center;
    margin-bottom: 5px;
    color: #ffffff;   
    gap: 20px;/*space between icon and  text*/
    background-color: #2a2a2a;
    display: flex;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.menu li:hover {
    background-color: #555;
    cursor: pointer;
    border-radius: 10px;
}

.menu li i{         
    color: #ffffff;
    cursor: pointer;
}
  
.menu ul li i {
    font-size: 18px; /* deixa os ícones com tamanho bom */
    min-width: 20px; /* garante espaço fixo para alinhamento */
    text-align: center;
}

/*-----END MENU SIDEBAR-----*/

/*-----SIDEBAR-RECENT-----*/

.sidebar-recent {
    flex: 1; /* ocupa todo o espaço disponível abaixo do menu */
    overflow-y: auto; /* ativa scroll se tiver muitas músicas */
    padding-right: 10px;
    margin-top: 20px;
}

/* Scrollbar customizado */
.sidebar-recent::-webkit-scrollbar {
    width: 8px;
}
.sidebar-recent::-webkit-scrollbar-track {
    background: transparent;
}
.sidebar-recent::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}
.sidebar-recent::-webkit-scrollbar-thumb:hover {
    background-color: #1DB954;
}

.sidebar-recent li {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 280px;/*to fit on the sidebar*/
    overflow: hidden;/*cutting the text*/
    white-space: nowrap;
    position: relative; 
    cursor: default;
    color: #b3b3b3;
}

.sidebar-recent li:hover {
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

/*-----END SIDEBAR RECENT-----*/

/*-----SCROLL TEXT SIDEBAR-RECENT-----*/

.scroll-text {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    position: relative;
    left: 0;
    transition: text-overflow 0.3s ease;
    overflow: hidden;
    padding: 0;
    margin: 0;
    vertical-align: top;
    text-align: left;
    direction: ltr; /* Left to right */
}
  
/*animation only when class 'scroll' exists and mouse start hover*/
.sidebar-recent li:hover .scroll-text {
    text-overflow: clip;/*remove "..."*/
    animation: scroll-to-right 5s linear forwards;
    text-decoration: underline;
}

@keyframes scroll-to-right {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - var(--text-width));/*distance to show all the text*/
    }
}

/*-----END SCROLL TEXT SIDEBAR-RECENT-----*/

/*-----MAIN-CONTENT-----*/

.main-content {
    flex: 1;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px; 
    margin-left: 250px;
    max-width: calc(100vw - 250px);
    overflow-x: hidden;
}

.content-section h2 {
    margin: 85px 0px 10px;
}

.content-section h3 {
    margin-bottom: 10px; 
    margin-top: 50px;
    border-radius: 10px;
    background-color: #2a2a2a;
    padding: 10px;
}

.content-section {
    margin-left: 30px;
}

/*-----END MAIN-CONTENT-----*/

/*-----TOP BAR-----*/

.top-bar {
    position: fixed;
    top: 0;
    left: 250px;/* sidebar width */
    right: 0;/*fill all the width*/
    height: 60px;
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 100;/*above the content*/
}

.user-profile {
    font-size: 15px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.user-profile i {
    margin-right: 8px;
  }

.user-profile:hover {
    color: #1DB954;
    transform: scale(1.05);
    transition: color 0.2s ease, transform 0.2s ease;
}

.top-bar button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/*-----END TOP-BAR-----*/

/*-----SCROLL-SECTION-----*/

.scroll-row {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth; /*<- smooth scroll*/
    gap: 16px; /*gap between cards*/
    padding-bottom: 12px;
}
  
.scroll-row::-webkit-scrollbar {
    height: 8px;
}
  
.scroll-row::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.scroll-row::-webkit-scrollbar-thumb:hover {
    background-color: #1a9746;
}
  
.scroll-row::-webkit-scrollbar-track {
    background-color: #222;
}
.scroll-row::-webkit-scrollbar-track:hover {
    background-color: #222;
}

/*-----END SCROLL-SECTION-----*/

/*-----CARDS-----*/

.cards-albuns-recents,
.cards-popular-albums,
.cards-artists,
.cards-music-replay {
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

.card {
    min-width: 120px;      
    max-width: 180px;
    background-color: #181818;
    padding: 10px;
    border-radius: 8px;
    flex-shrink: 0;
    scroll-snap-align: start;
    transition: background 0.05s;
    text-align: center;
    position: relative;
    color: #b3b3b3;
}

.card:hover {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
}

.card p {
    margin-top: 20px;
}

.card p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card .play-button {
    position: absolute;
    top: 59%;
    left: 77.5%;
    transform: translate(-50%, -50%);/*center*/
    background-color: rgb(0, 0, 0); 
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: rgba(30, 215, 96);
    opacity: 0;
    transition: opacity 0s ease;
}

.btn-popular-albums .play-button {
    position: absolute;
    top: 52%;
    left: 77.5%;
    transform: translate(-50%, -50%);/*center*/
    background-color: rgb(0, 0, 0); 
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: rgba(30, 215, 96);
    opacity: 0;
    transition: opacity 0s ease;
}

.btn-music-replay .play-button {
    position: absolute;
    top: 55.3%;
    left: 77.5%;
    transform: translate(-50%, -50%);/*center*/
    background-color: rgb(0, 0, 0); 
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: rgba(30, 215, 96);
    opacity: 0;
    transition: opacity 0s ease;
}

.card:hover .play-button {
    opacity: 1;
    cursor: pointer;
}

.artists {
    padding: 20px 0;
}

.cards-artists {
    display: flex;
    gap: 16px;
    color: #b3b3b3;
}

.card-artists {
    min-width: 120px;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    flex-shrink: 0;
    transition: background 0.05s;
}

.card-artists:hover {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}
  
.card-artists p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-artists img {
    width: 150px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 8px;
}

.name-artist-album {
    height: 40px; /*heigh to align name artist*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4px;
    overflow: hidden;
}

.name-artist-album p {
    margin: 0;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.name-album p,
.name-artist-album p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: block;
  line-height: 1.2;
  word-break: break-word;
}

.name-album p::after,
.name-artist-album p::after {
  content: '';
}

.name-album {
    font-size: 18px;
}

.name-album p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: block;
    line-height: 1.2;
}
  
.name-artist-album p:hover,
.name-album p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cards-popular-albums {
    gap: 10px;
    height: 270px;
}

.genre-section h4 {
    margin: 40px 10px 5px;
}

/*-----END CARDS-----*/

/*-----FOOTER PLAYER-----*/

.player {
    height: 90px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
  
.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    overflow: hidden;
    min-width: 0; 
}

.song-info p {
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-info p:hover {
    text-decoration: underline;
    cursor: pointer;
}
  
.song-info img {
    width: 56px;
    height: 56px;
    object-fit: cover;
    cursor: pointer;
}

footer.player button {
    background: none;/*remove white background*/
    border: none;/*remove border*/
    cursor: pointer;
    color: #1DB954;/*icon color*/
    font-size: 24px;
    padding: 0px 0px;
    margin-left: 90px;
    margin-bottom: 5px;
    border-radius: 50%;
    transition: color 0.3s ease;
}
  
footer.player button:hover {
    color: white;
    transform: scale(1.2);
}
  
.progress-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin-top: 6px;
}
  
.bar {
    width: 600px;
    height: 4px;
    background-color: #444;
    border-radius: 2px;
    overflow: hidden;
}
  
.progress {
    height: 100%;
    background-color: #1db954;
    width: 0%;
    transition: width 0.3s ease;
}
  
.volume-like {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 30px;
}

/*volume bar*/
.volume-like input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 4px;
    background: transparent;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

/*slider thumb*/
.volume-like input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    background: #1DB954;
    border-radius: 50%;
    margin-top: -4px;
    transition: transform 0.2s ease;
}

.volume-like input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: #1DB954;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.volume-like input[type="range"]::-webkit-slider-thumb:hover,
.volume-like input[type="range"]::-moz-range-thumb:hover {
    transform: scale(1.2);
}

#volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    height: 4px;
    background: linear-gradient(to right, #1DB954 100%, #444 0%);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
}

/*Thumb - Chrome, Safari*/
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: #1DB954;
    border-radius: 50%;
    margin-top: 0px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#volumeSlider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/*Thumb - Firefox*/
#volumeSlider::-moz-range-thumb {
    height: 12px;
    width: 12px;
    background: #1DB954;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

#volumeSlider::-moz-range-thumb:hover {
    transform: scale(1.2);
}

/*liked music btn*/
#likeBtn {
    margin-left: 0px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    transition: transform 0.2s ease, color 0.2s ease;
}

#likeBtn:hover {
    color: #1DB954;
    transform: scale(1.1);
}

/*if liked*/
#likeBtn.liked {
    color: #1DB954;
    transform: scale(1.3)
}

/*-----END FOOTER PLAYER-----*/